.LoginPopup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
  }
  
  .login-pop{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: faddIn 0.5s;
  }
  
  .popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414833;
    text-align: center;
   
    
  }
  
  .popup-title img {
    width: 20px;
    cursor: pointer;
    
  }
  
  .login-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-input input {
    
    border: 1px solid grey;
    padding: 13px;
    border-radius: 8px;
  }
  

  .login-cond{
    display: flex;
    align-items: start;
    gap: 8px;
  
  }
  
  .login-cond input {
    margin-top: 8px;
  }
  
 .createAcc{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color:#414833;
    font-size: 15px;
    cursor: pointer;
 }
 .login-cond p{
    margin-top: 5px;
 }